/* styles.css*/
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
    color: #333333;
}
a {
    color: #0070c9
}
header {
    background-color: #f6f6f6;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}